<p id="notice"><%= notice %></p>

<h1>Customer Testimonies</h1>

<table>
  <thead>
    <tr>
      <th>Testimony logo</th>
      <th>Testimony detail</th>
      <th>Testimony cust img</th>
      <th>Testimony cust name</th>
      <th>Testimony cust title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer_testimonies.each do |customer_testimony| %>
      <tr>
        <td><%= customer_testimony.testimony_logo %></td>
        <td><%= customer_testimony.testimony_detail %></td>
        <td><%= customer_testimony.testimony_cust_img %></td>
        <td><%= customer_testimony.testimony_cust_name %></td>
        <td><%= customer_testimony.testimony_cust_title %></td>
        <td><%= link_to 'Show', customer_testimony %></td>
        <td><%= link_to 'Edit', edit_customer_testimony_path(customer_testimony) %></td>
        <td><%= link_to 'Destroy', customer_testimony, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer Testimony', new_customer_testimony_path %>
