<%= form_with(model: pricing_plan, local: true) do |form| %>
  <% if pricing_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pricing_plan.errors.count, "error") %> prohibited this pricing_plan from being saved:</h2>

      <ul>
        <% pricing_plan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
