<p id="notice"><%= notice %></p>

<h1>Pricing Plans</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pricing_plans.each do |pricing_plan| %>
      <tr>
        <td><%= pricing_plan.title %></td>
        <td><%= pricing_plan.price %></td>
        <td><%= pricing_plan.description %></td>
        <td><%= link_to 'Show', pricing_plan %></td>
        <td><%= link_to 'Edit', edit_pricing_plan_path(pricing_plan) %></td>
        <td><%= link_to 'Destroy', pricing_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pricing Plan', new_pricing_plan_path %>
