<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @pricing_plan.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @pricing_plan.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pricing_plan.description %>
</p>

<%= link_to 'Edit', edit_pricing_plan_path(@pricing_plan) %> |
<%= link_to 'Back', pricing_plans_path %>
