<%= form_with(model: service_package, local: true) do |form| %>
  <% if service_package.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service_package.errors.count, "error") %> prohibited this service_package from being saved:</h2>

      <ul>
        <% service_package.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :logo %>
    <%= form.text_field :logo %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_field :detail %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
