<p id="notice"><%= notice %></p>

<p>
  <strong>Logo:</strong>
  <%= @service_package.logo %>
</p>

<p>
  <strong>Title:</strong>
  <%= @service_package.title %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @service_package.detail %>
</p>

<%= link_to 'Edit', edit_service_package_path(@service_package) %> |
<%= link_to 'Back', service_packages_path %>
