<%= form_with(model: featured_product, local: true) do |form| %>
  <% if featured_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(featured_product.errors.count, "error") %> prohibited this featured_product from being saved:</h2>

      <ul>
        <% featured_product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :img_url %>
    <%= form.text_field :img_url %>
  </div>

  <div class="field">
    <%= form.label :img_title %>
    <%= form.text_field :img_title %>
  </div>

  <div class="field">
    <%= form.label :product_name %>
    <%= form.text_field :product_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
