<p id="notice"><%= notice %></p>

<h1>Featured Products</h1>

<table>
  <thead>
    <tr>
      <th>Img url</th>
      <th>Img title</th>
      <th>Product name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @featured_products.each do |featured_product| %>
      <tr>
        <td><%= featured_product.img_url %></td>
        <td><%= featured_product.img_title %></td>
        <td><%= featured_product.product_name %></td>
        <td><%= link_to 'Show', featured_product %></td>
        <td><%= link_to 'Edit', edit_featured_product_path(featured_product) %></td>
        <td><%= link_to 'Destroy', featured_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Featured Product', new_featured_product_path %>
