<p id="notice"><%= notice %></p>

<p>
  <strong>Img url:</strong>
  <%= @featured_product.img_url %>
</p>

<p>
  <strong>Img title:</strong>
  <%= @featured_product.img_title %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @featured_product.product_name %>
</p>

<%= link_to 'Edit', edit_featured_product_path(@featured_product) %> |
<%= link_to 'Back', featured_products_path %>
