<p id="notice"><%= notice %></p>

<h1>Recent Articles</h1>

<table>
  <thead>
    <tr>
      <th>Article img</th>
      <th>Publication date</th>
      <th>Publisher</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recent_articles.each do |recent_article| %>
      <tr>
        <td><%= recent_article.article_img %></td>
        <td><%= recent_article.publication_date %></td>
        <td><%= recent_article.publisher %></td>
        <td><%= recent_article.title %></td>
        <td><%= link_to 'Show', recent_article %></td>
        <td><%= link_to 'Edit', edit_recent_article_path(recent_article) %></td>
        <td><%= link_to 'Destroy', recent_article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recent Article', new_recent_article_path %>
